@import "tailwindcss";

@theme {
  --color-rose-base: #ef1660;
  --color-rose-active: #df2162;
  --color-rose-hover: #dd4f7f;
  --color-background-dark: #262626;
  --color-background-extra-dark: #141414;
  --color-background-light: #F9F9F9;
}

.scroll-hidden {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE 10+ */
}

.scroll-hidden::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Edge */
}
